* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #e0fff8, #d0f0ff, #f0f7ff);

}

/* Phone size responsive */
@media(min-width:350px) and (max-width:700px) {

/* navbar section responsive */
.nav {
    height: 55px;
    width: 100%;
    display: flex;
   background:linear-gradient(135deg, #e0fff8, #d0f0ff, #f0f7ff);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    justify-content: space-between;
    padding: 5px 13px;
    border-bottom: 1px dotted #a8dadc;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.navh1 span {
    color: oklch(70.024% 0.16103 35.073);
}
.navh1 {
    font-size: 14px;
    padding-top: 5px;
    color: #000000;
}

.navoptions a {
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 700;
    display: none;
    color: #000000;
}
.navoptions a:hover {
    color: #ffb4a2;
    border-bottom: 3px solid #ffb4a2;
}

.navoption2 {
    height: 200px;
    width: 64px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 240px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: none;
    position: fixed;
    background: white;
    border: 1px solid  oklch(70.024% 0.16103 35.073);
    
   
}

.navoption2 a {
    text-decoration: none;
    display: inline-block;
     
    padding: 13px 2px;;
    font-size: medium;
    font-weight: bolder;
    color: black;
}
.nav .cross-icon {
    font-size: 25px;
    padding-top: 5px;
     margin-right: 20px;
    display: none;
    color: #000000;
}
.nav .menu-icon {
    font-size: 25px;
    margin-right: 20px;
    padding-top: 10px;
    display: none;
    color: #000000;
}

.navbutton button {
    height: 30px;
    display: none;
    margin-top: 10px;
    width: 100px;
    color: #000000;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.navbutton button:hover {
    color: #2b2d42;
}
.nav .menu-icon {
    font-size: 25px;
    display: block;
}

/* hero-section responsive phone */
.herosection {
    height: 270px;
    width: 100%;
    gap: 40px;
    display: flex;
}

.herosection-left {
    height: 250px;
    width: 100%;
}
.herosection-left1 {
    padding-left: 0px;
    padding-top: 50px;
    margin-top: 30px;
}
.herosection-left-para {
    margin-left: 20px;
    font-size: 15px;
    padding-bottom: 5px;
    color: black;
}
.herosection-left-h1 {
    margin-left: 20px;
    font-size: 8px;
    color: oklch(70.024% 0.16103 35.073);
    padding-bottom: 5px;
}
.herosection-left-button {
    padding-top: 10px;
    margin-left: 20px;
}
.herosection-left-button a {
    text-decoration: none;
     color: oklch(70.024% 0.16103 35.073);
    font-size: 12px;
}
.herosection-left-button button {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    border: 1px solid #000000;
    background-color:  black;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.herosection-left-button button:hover {
    color: #2b2d42;
}

.herosection-right-myimage {
    padding-bottom: 40px;
    margin-left: 40px;
    border-radius: 20px;
    height: 270px;
    width: 220px;
}
.herosection-right-box {
    height: 270px;
    width: 250px;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    border: 3px solid #a8dadc;
    margin-right: 200px;
}

.herosection-right {
    display: none;
}

/* About me section responsive */
.about {
    height: 650px;
    width: 100%;
    gap: 50px;
    display: block;
}

.about-left-image {
    border-radius: 100%;
    margin-left: 100px;
    height: 120px;
    width: 120px;
    border: 5px solid  oklch(70.024% 0.16103 35.073);
}

.about-right-h1 {
    font-size: 30px;
    margin-left: 20px;
    padding-bottom: 10px;
   color: oklch(70.024% 0.16103 35.073);
}

.about-right-para {
    font-size: 15px;
    margin-left: 20px;
    color:black;
}

.about-right-skillsANDeducation{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.about-right-list1 li{
    padding: 7px;
    margin-left: 25px;
}
.about-right-list2 li{
    padding: 7px;
}
.edu-h2:hover, .skill-h2:hover {
    color: #ffb4a2;
}
.edu-h2{
    color: oklch(70.024% 0.16103 35.073) ;
}
.skill-h2{
    margin-left: 25px;
     color: oklch(70.024% 0.16103 35.073)
}

/* Service section responsive phone */
.services {
    height: 1050px;
    width: 100%;
}
.services h1 {
    font-size: 50px;
    margin-left: 35px;
    margin-bottom: 40px;
    padding-top: 50px;
   color: oklch(70.024% 0.16103 35.073);
}
.services h1:hover {
    color: rgb(234, 159, 140);
}

.service-box-1 h2, .service-box-3 h2{
    color: oklch(70.024% 0.16103 35.073);
    margin-left: 5px;
    padding-top: 10px;
}
.service-box-2 h2{
    color: oklch(70.024% 0.16103 35.073);
     margin-left: 0px;
     font-size: 22px;
    padding-top: 0px;
}
.service-box-1, .service-box-2, .service-box-3 {
    border: 3px solid  oklch(70.024% 0.16103 35.073);
    margin-left: 50px;
    margin-bottom: 35px;
    border-radius: 15px;
    height: 280px;
    width: 220px;
     scale: 1.1;
    transition: scale 1s 1s ease-out; 
   
}
.service-box-1:hover, .service-box-2:hover, .service-box-3:hover{
      border: 4px solid #6c63ff;
    scale: 1.2;

}

.service-box-1 p, .service-box-3 p{
    font-size: 17px;
    padding: 05px;
    margin-top: 05px;

}
.service-box-2 p{
     font-size: 15px;
    padding: 05px;
    margin-top: 02px;


}
.service-box-1 i, .service-box-2 i, .service-box-3 i{
    color: oklch(70.024% 0.16103 35.073); 

    font-size: 30px;
}
.service-box-1 .learn:hover,
.service-box-2 .learn-box2:hover,
.service-box-3 .learn-box3:hover {
     
   
    color: #ffb4a2;
}

.service-box-1 .learn-box1,
.service-box-3 .learn-box3{
     color:black;
     cursor: pointer;
     font-size: 19px;
     font-weight: 700;
}
 .service-box-2 .learn-box2{
     color:black;
     cursor: pointer;
     font-size: 17px;
     font-weight: 700;
 }

/* Project section responsive phone */
.project {
    margin-top: 50px;
    height: 920px;
    width: 100%;
}
.project-h1 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: oklch(70.024% 0.16103 35.073);
}
.project-h1:hover {
    color: #ffb4a2;
}
.project-box1, .project-box2, .project-box3 {
    border: 4px solid  oklch(70.024% 0.16103 35.073);
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    height: 310px;
    width: 250px;
    scale: 1.1;
    transition: scale 1s 1s ease-out; 
}
.project-box1:hover, .project-box2:hover, .project-box3:hover {
    border: 4px solid #6c63ff;
    scale: 1.2;
}
.project-heading h3{
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    
}
.project-heading a{
      text-decoration: none;
      font-size: 20px;
      margin-left: 60px;
}

/* contact me section responsive phone */
.contact {
    height: 600px;
    width: 100%;
}
.contact-left-h1 {
    margin-top: 200px;
    margin-left: 55px;
   
    font-size: 24px;
     color: oklch(70.024% 0.16103 35.073);
}

    
.contact-left-telegram i {
    margin-left: 60px;
    margin-top: 30px;
    font-size: 18px;
    color: #6c63ff;
}
.contact-left-phone i {
     margin-left: 60px;
     padding-top: 5px;
    font-size: 18px;
    color: red;
}
.contact-left-social-media i {
    margin-top: 50px;
   
    font-size: 30px;
    margin-left: 40px;
    color: #6c63ff;
}
.contact-left-social-media .insta{
    color: mediumvioletred;
}

.contact-right{
    height: 200px;
    width: 400px;  
    
}
.input{
    display: flex;
    margin-left: 70px;
    flex-direction: column;
   
}
.input input{
    height: 50px;
    width: 250px;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;

}
textarea{
    height: 100px;
    width: 250px;
    margin-top: 35px;
    border: 2px solid black;
    font-size: 20px;
}
.submit-btn button{
    height: 40px;
    width: 250px;
    margin-top: 20px;
    background-color: black;
    color:oklch(70.024% 0.16103 35.073);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  


}
